.list-group-item{
  cursor:pointer;
}

img{
  width:100%;
}

.img:hover{
  color: #424242;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
-o-transition: all .3s ease-in;
transition: all .3s ease-in;
opacity: 1;
transform: scale(1.10);
-ms-transform: scale(1.10); /* IE 9 */
-webkit-transform: scale(1.10); /* Safari and Chrome */

}

.arr-right .breadcrumb-item+.breadcrumb-item::before {

  content: "\00bb";

  vertical-align:top;

  color: #408080;

  font-size:22px;

  line-height:18px;

}
