
<div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <input class="navbar-brand fullscreen" type="image"  src="../../../assets/images/cropped-ops-logo-sml-cent-276x88.png" style="width:95px;height:45px;">
          <!-- <a class="d" href="#">Navbar</a> -->
      <div  aria-label="breadcrumb " *ngIf="eventsection">
      <ol class="breadcrumb arr-right">
        <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()"><strong>Start</strong></a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>Events</strong></li>
      </ol>
       </div>
          <div  aria-label="breadcrumb " *ngIf="gamesection">
        <ol class="breadcrumb arr-right">
            <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()"><strong>Start</strong></a></li>
            <li class="breadcrumb-item "><a class="text-primary" (click)="getevents()"><strong>Events</strong></a></li>
          <li class="breadcrumb-item active" aria-current="page"><strong>Games</strong></li>
        </ol>
        </div>
        <div  aria-label="breadcrumb " *ngIf="thumbnailsSection">
            <ol class="breadcrumb arr-right">
                <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()"><strong>Start</strong></a></li>
                <li class="breadcrumb-item "><a class="text-primary" (click)="getevents()"><strong>Events</strong></a></li>
                <li class="breadcrumb-item "><a class="text-primary" (click)="getgames('')"><strong>Games</strong></a></li>
              <li class="breadcrumb-item active" aria-current="page"><strong>Thumbnails</strong></li>
            </ol>
          </div>
              <div aria-label="breadcrumb " *ngIf="imageSection">
                  <ol class="breadcrumb arr-right">
                      <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()"><strong>Start</strong></a></li>
                      <li class="breadcrumb-item "><a class="text-primary" (click)="getevents()"><strong>Events</strong></a></li>
                      <li class="breadcrumb-item "><a class="text-primary" (click)="getgames('')"><strong>Games</strong></a></li>
                      <li class="breadcrumb-item" ><a class="text-primary" (click)="getthumbanils('')"><strong>Thumbnails</strong> </a></li>
                    <li class="breadcrumb-item active" aria-current="page"><strong>Images</strong></li>
                  </ol>

              </div>
      </nav>
      <div class="" style=" margin-bottom:30px;padding-top:20px;text-align:center;">
            <button  type="button" class="btn btn-primary btn-small" data-toggle="modal" data-target="#pricesModal">Prices</button>
            <button *ngIf="!buttonsUser" style="margin-left:20px;"  class="btn btn-secondary btn-small"  >View({{inputval}}) Favorites</button>
            <button *ngIf="!buttonsUser" style="margin-left:20px;"  class="btn btn-secondary btn-small"  (click)="logout()" >Start over</button>
            <button *ngIf="buttonsUser" style="margin-left:20px;"  id="keyboardclick" class="btn btn-secondary btn-small"  data-toggle="modal" data-target="#keyboardModal">Recall Favorites</button>

        </div>

<div class="row" *ngIf="!thumbnailsSection">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6">
  <div class="card" *ngIf="eventsection">
   <div class="card-body" >
    <div style="height: 350px;overflow-y: auto;"  >
        <h4 style="text-align:center;">Click a Event from List below</h4>
        <ul class="list-group" *ngFor="let event of eventsArray">
            <li class="list-group-item" (click)="getgames(event)">{{event}}</li>
          </ul>
    </div>
  </div>
</div>
<div class="card" *ngIf="gamesection">
  <div class="card-body" >
    <div style="height: 350px;overflow-y: auto;"  >
        <h4 style="text-align:center;">Click a Game from List below</h4>
        <ul class="list-group" *ngFor="let game of gameArray">
            <li class="list-group-item" (click)="getthumbanils(game)">{{game}}</li>
          </ul>
    </div>
   </div>
  </div>
  </div>
  <div class="col-sm-3">

  </div>

</div>
<div class="card " *ngIf="thumbnailsSection">
    <div class="card-body">
      <h4 style="text-align:center;">Thumbnail Images</h4>
        <div class="row">
            <div class="col-sm-2" *ngFor="let imgs of thumbnailsArray; let j = index">
              <div class="card" style="cursor:pointer;" style="height:150px;">
                <img class="card-img-top img" (click)="getImages(imgs)" src="{{imgs}}" alt="Card image cap" width="100%" height="100%">
                <!-- <div class="card-body">
                    <p class="card-text">{{imgs.title}}</p>
                <div> -->
                </div>
                </div>
              </div>

            </div>

          </div>
<div class="row" *ngIf="imageSection">
  <div class="col-sm-3">
    <div class="card">
          <div class="card-body">
              <div style="height:433px; overflow-y: auto;"  >
              <ul class="list-group" *ngFor="let imgs of thumbnailsArray; let j = index">
                  <li class="list-group-item" > <img class="" (click)="getImages(imgs)" src="{{imgs}}" alt="" width="100%" height="100%"></li>
                </ul>
                </div>
          </div>
    </div>

  </div>
  <div class="col-sm-8">
    <span class="" (click)="keyboardmodal();" style="cursor:pointer;"><i class="fa fa-heart text-danger"><span class="text-secondary">Add To Favorites</span></i></span>
    <div class="card">
   <div class="card-body">
      <div class="hovereffect img">
          <img class="img-responsive" src="{{imgitem}}" alt="" width="100%" height="100%">
          <div class="overlay">
            <h2>Add to Favorites</h2>
             <a class="info"  style="cursor:pointer;" (click)="keyboardmodal();" ><span><i class="fa fa-heart text-danger"></i></span></a>
          </div>
      </div>
   </div>
    </div>

    </div>
    <!-- <div class="col-sm-2">
        <div class="card">
       <div class="card-body">
       <div class="form-group">
         <button  class="btn btn-primary btn-rounded btn-block">Add to favorites </button>
       </div>
       <div class="form-group">
          <button [routerLink]="['/cart']" class="btn btn-warning btn-rounded btn-block">View Favotites</button>
        </div>
       </div>
        </div>
      </div> -->
</div>

</div>
<div class="modal fade" id="keyboardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true "
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-lg " role="document " >
  <div class="modal-content ">
<div class="card" >
<div class="card-body keyboardss">
    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div style="text-align: center;">
          <h5  class="text-primary">Please Enter your Name/ID</h5>
          <div class="input-group mb-3">
              <input type="text" class="form-control" id="search_field"  [(ngModel)]="inputval" [ngModelOptions]="{standalone: true}" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-info" id="okbtn" (click)="addtoFavorites()" >OK</button>
              </div>
            </div>
           <div _ngcontent-c1="" id="keyboard">
             <ul class="jkeyboard">
               <li class="jline">
                 <ul>
                   <li class="jkey letter">q</li>
                   <li class="jkey letter">w</li>
                   <li class="jkey letter">e</li>
                   <li class="jkey letter">r</li>
                   <li class="jkey letter">t</li>
                   <li class="jkey letter">y</li>
                   <li class="jkey letter">u</li>
                   <li class="jkey letter">i</li>
                   <li class="jkey letter">o</li>
                   <li class="jkey letter">p</li>
                 </ul>
               </li>
               <li class="jline">
                 <ul>
                   <li class="jkey letter">a</li>
                   <li class="jkey letter">s</li>
                   <li class="jkey letter">d</li>
                   <li class="jkey letter">f</li>
                   <li class="jkey letter">g</li>
                   <li class="jkey letter">h</li>
                   <li class="jkey letter">j</li>
                   <li class="jkey letter">k</li>
                   <li class="jkey letter">l</li>
                 </ul>
               </li>
               <li class="jline">
                 <ul>
                   <li class="jkey shift">&nbsp;</li>
                   <li class="jkey letter">z</li>
                   <li class="jkey letter">x</li>
                   <li class="jkey letter">c</li>
                   <li class="jkey letter">v</li>
                   <li class="jkey letter">b</li>
                   <li class="jkey letter">n</li>
                   <li class="jkey letter">m</li>
                   <li class="jkey backspace">&nbsp;</li>
                  </ul>
              </li>
              <li class="jline"><ul>
                  <li class="jkey numeric_switch">123</li>
                  <li class="jkey layout_switch">&nbsp;</li>
                  <li class="jkey space">&nbsp;</li>
                  <li class="jkey return">Enter</li>
                </ul>
              </li>
            </ul>
          </div>
      </div>

</div>
</div>
  </div>
</div>

</div>

<div class="modal fade" id="pricesModal" tabindex="-1" role="dialog" aria-labelledby="pricesModalLabel" aria-hidden="true "
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-lg " role="document " >
  <div class="modal-content ">
<div class="card" >
<div class="card-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

</div>
</div>
  </div>
</div>

</div>

