
<div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <input class="navbar-brand fullscreen" type="image"  src="../../../assets/images/cropped-ops-logo-sml-cent-276x88.png" style="width:95px;height:45px;">
          <!-- <a class="d" href="#">Navbar</a> -->
      <div  aria-label="breadcrumb " *ngIf="eventsection">
      <ol class="breadcrumb arr-right">
        <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()">Start</a></li>
        <li class="breadcrumb-item active" aria-current="page">Events</li>
      </ol>
       </div>
          <div  aria-label="breadcrumb " *ngIf="gamesection">
        <ol class="breadcrumb arr-right">
            <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()">Start</a></li>
            <li class="breadcrumb-item "><a class="text-primary" (click)="getevents()">Events</a></li>
          <li class="breadcrumb-item active" aria-current="page">Games</li>
        </ol>
        </div>
        <div  aria-label="breadcrumb " *ngIf="thumbnailsSection">
            <ol class="breadcrumb arr-right">
                <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()">Start</a></li>
                <li class="breadcrumb-item "><a class="text-primary" (click)="getevents()">Events</a></li>
                <li class="breadcrumb-item "><a class="text-primary" (click)="getgames(' ')">Games</a></li>
              <li class="breadcrumb-item active" aria-current="page">Thumbnails</li>
            </ol>
          </div>
              <div aria-label="breadcrumb " *ngIf="imageSection">
                  <ol class="breadcrumb arr-right">
                      <li class="breadcrumb-item"><a class="text-primary" (click)="startnavigate()">Start</a></li>
                      <li class="breadcrumb-item "><a class="text-primary" (click)="getevents()">Events</a></li>
                      <li class="breadcrumb-item "><a class="text-primary" (click)="getgames(' ')">Games</a></li>
                      <li class="breadcrumb-item" ><a class="text-primary" (click)="getthumbanils(' ')">Thumbnails </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Images</li>
                  </ol>

              </div>
      </nav>
      <div class="row" style="padding-left:65px; margin-bottom:30px;">
          <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-block">Recall favorites</button>
                </div>
                <!-- <div class="col">
                       <button>Recall favorites</button>
                </div> -->
              <div class="col-sm-4">
                        <button  class="btn btn-warning btn-block">Prices</button>
               </div>
            </div>

          </div>

        </div>

<div class="row" *ngIf="!thumbnailsSection">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
  <div class="card" *ngIf="eventsection">
   <div class="card-body" >
    <div style="height: 350px;overflow-y: auto;"  >
        <h4 style="text-align:center;">Click a Event from List below</h4>
        <ul class="list-group" *ngFor="let event of eventsArray">
            <li class="list-group-item" (click)="getgames(event)">{{event}}</li>
          </ul>
    </div>
  </div>
</div>
<div class="card" *ngIf="gamesection">
  <div class="card-body" >
    <div style="height: 350px;overflow-y: auto;"  >
        <h4 style="text-align:center;">Click a Game from List below</h4>
        <ul class="list-group" *ngFor="let game of gameArray">
            <li class="list-group-item" (click)="getthumbanils(game)">{{game}}</li>
          </ul>
    </div>
   </div>
  </div>
  </div>
  <div class="col-sm-2">

  </div>

</div>
<div class="card " *ngIf="thumbnailsSection">
    <div class="card-body">
      <h4 style="text-align:center;">Thumbnail Images</h4>
        <div class="row">
            <div class="col-sm-2" *ngFor="let imgs of thumbnailsArray; let j = index">
              <div class="card" style="cursor:pointer;">
                <img class="card-img-top img" (click)="getImages(imgs)" src="{{imgs.img}}" alt="Card image cap">
                <!-- <div class="card-body">
                    <p class="card-text">{{imgs.title}}</p>
                <div> -->
                </div>
                </div>
              </div>

            </div>

          </div>
<div class="row" *ngIf="imageSection">
  <div class="col-sm-3">
    <div class="card">
          <div class="card-body">
              <div style="height: 350px;overflow-y: auto;"  >
              <ul class="list-group" *ngFor="let imgs of thumbnailsArray; let j = index">
                  <li class="list-group-item" > <img class="" (click)="getImages(imgs)" src="{{imgs.img}}" alt=""></li>
                </ul>
                </div>
          </div>
    </div>

  </div>
  <div class="col-sm-7">
    <div class="card">
   <div class="card-body">
    <img class="img" src="{{imgitem}}">
   </div>
    </div>

    </div>
    <div class="col-sm-2">
        <div class="card">
       <div class="card-body">
       <div class="form-group">
         <button  class="btn btn-primary btn-rounded btn-block">Add to favorites </button>
       </div>
       <div class="form-group">
          <button [routerLink]="['/cart']" class="btn btn-warning btn-rounded btn-block">View Favotites</button>
        </div>
       </div>
        </div>
      </div>
</div>

</div>
