
<div class="container-fluid">
    <!-- <input type="text" id="search_field">
    <div id="keyboard"></div> -->
    <button [routerLink]="['/login']" class="btn btn-info btn-sm">Back</button>
    <div class="card " style="margin-top:30px;">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2" *ngFor="let imgs of imgArr; let j = index">
                  <div class="card" (click)="lightbox(imgs)" style="cursor:pointer;">
                    <img class="card-img-top img" src="{{imgs.img}}" alt="Card image cap">
                    <!-- <div class="card-body">
                        <p class="card-text">{{imgs.title}}</p>
                    <div> -->
                    </div>
                    </div>
                  </div>

                </div>

              </div>
        </div>

        <button style="display:none;" id="gallery" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#galleryModal">Open Small Modal</button>
  <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true "
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg " role="document " >
    <div class="modal-content ">
<div class="card" >
  <div class="card-body" >
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <img src="{{modalImage}}" class="img">
  </div>
</div>
    </div>
  </div>

 </div>
