<div class="container-fluid">
  <div class="row">
   <div class="col-md-3">

   </div>
   <div class="col-md-6">
      <div style="margin-top:150px; text-align: center;">
          <button type="button"  [routerLink]="['/event']" class="btn btn-default btn-lg btn-block " >Click to View Images</button>

      </div>
      <div style="margin-top:80px; text-align: center;">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#keyboardModal">Recall Favorites -Strated Earlier</button>
      </div>

    </div>
    <div class="col-md-3">

      </div>
  </div>

</div>
  <div class="modal fade" id="keyboardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true "
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg " role="document " >
    <div class="modal-content ">
<div class="card" >
  <div class="card-body keyboard">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div style="text-align: center;">
            <h5  class="text-primary">Please Enter your Name/ID</h5>
            <input type="text" id="search_field">
             <button class="btn btn-info">OK</button>
             <div id="keyboard"></div>
        </div>

  </div>
</div>
    </div>
  </div>

 </div>
